<div id="industrial_line_main">
    <div class="container">
        <div class="img">
            <img src="assets/images/markets/civil-construction/IMG_4778.JPG" alt="Imagem principal de construção civil">
        </div>

        <h1 class="mt-4">Empresa que <span>conquista</span>, gera <span>confiança</span></h1>

        <p class="mt-2 mb-0">
            Por ser um material flexível de alta durabilidade, o alumínio garante o melhor acabamento em inúmeras aplicações. 
            Esta linha dispõe de perfis para automação, máquinas, equipamentos, bens de consumo, indústria elétrica, transporte, 
            entre outros, e é desenvolvida de acordo com as necessidades do cliente, garantindo excelentes resultados.
        </p>

        <p>
            Por isso, trabalhamos diariamente desenvolvendo perfis para atender às necessidades do mercado e estar sempre presente 
            nas maiores obras do país, conquistando premiações e reconhecimento no mercado.
        </p>

        <img class="w-75 d-block mx-auto" src="assets/images/markets/civil-construction/Olgacolor_banner_Histótia-1400x454.png" alt="Imagem + 50 anos">

        <h1 class="mt-5 pt-5 text-center"><span>LINHA</span> INDUSTRIAL</h1>

        <div id="furniture_line">
            <div class="row align-items-center pt-5">
                <div class="col-lg-6">
                    <img src="assets/images/markets/industrial-line/Linha-Industrial-1.png" alt="Logo da Linha Industrial" class="img_content">
                    <h3 class="mt-3">Linha Industrial</h3>
                    <p class="mt-2">
                        Os perfis produzidos para atender à linha Industrial tem diversas aplicações, como por exemplo no setor de refrigeração, 
                        transportes, elétrica, de máquinas e equipamentos ou em qualquer bem de consumo que necessite do alumínio em sua composição. 
                        Nosso departamento técnico desenvolve os perfis e faz a adequação necessária ao seu projeto.
                    </p>
                </div>
    
                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/industrial-line/Catalogo_unico_Automacao.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>
            </div>

            <hr class="d-lg-none mt-5 mb-0">

            <div class="row align-items-center pt-5 flex-column-reverse flex-lg-row">    
                <div class="col-lg-6">
                    <img src="assets/images/markets/industrial-line/Catalogo_unico_Implementos-Rodoviarios.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>

                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/industrial-line/Logo-Implementos-Rodoviarios_2023.png" alt="Logo Linha Implementos Rodoviários" class="img_content">
                    <h3 class="mt-3">Implementos Rodoviários</h3>
                    <p class="mt-2">
                        Disponibilizamos uma vasta gama de perfis de alumínio para o setor de transportes. Contamos com a Linha Sider, Linha de Protetores, Linha Furgão de Alumínio, 
                        Linha Frigo e Tabelados para Implementos Rodoviários.
                    </p>
                </div>
            </div>

            <hr class="d-lg-none mt-5 mb-0">

            <div class="row align-items-center pt-5">
                <div class="col-lg-6">
                    <img src="assets/images/markets/industrial-line/Logo-tabelados-2048x1245.png" alt="Logo de Tabelados" class="img_content">
                    <h3 class="mt-3">Perfis Tabelados</h3>
                    <p class="mt-2">
                        Conheça nossa linha completa de perfis tabelados para finalidades industriais. Disponibilizamos barra chata, cantoneiras, 
                        perfil T, perfil U, tubos e vergalhões.
                    </p>
                </div>
    
                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/industrial-line/Catalogo_unico_Tabelados.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>
            </div>
        </div>
    </div>
</div>