<div id="products">
    <div class="container">
        <app-dividing-line [width]="dynamicWidth" [bg]="dynamicBg" />

        <h5>PRODUTOS</h5>

        <div id="title">
            <h1>Muito além do <strong>essencial:</strong></h1>
            <h2 class="mt-4 mb-3">Descubra um universo de soluções para a construção civil.</h2>
            <a routerLink="/home" class="btn btn-outline-dark rounded-pill">Todos produtos</a>
        </div>

        <div class="row mt-5 py-5 px-lg-5" id="first_block">
            <div class="col-lg-6">
                <img class="img-fluid" src="assets/images/aglo.avif" alt="Logo da aglo">
                <ul>
                    <li>
                        <h1>28 dB</h1>
                        <p>Porta de correr 02 folhas</p>
                    </li>
                    <li>
                        <h1>31 dB</h1>
                        <p>para carregamento total</p>
                    </li>
                </ul>
                <p>
                    Sistemas residenciais e comerciais completos para todos os padrões: alto, médio e popular. 
                    Atendem plenamente às normas nas cinco regiões do país.
                </p>
                <ul class="links">
                    <li>
                        <a routerLink="/home">
                            <h5>SAIBA MAIS</h5>
                            <span class="bi bi-arrow-right-short fs-3"></span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/home">
                            <h5>PRODUTOS</h5>
                            <span class="bi bi-arrow-right-short fs-3"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">

            </div>
        </div>
    </div>
</div>

