<div id="civil_construction_main">
    <div class="container">
        <div class="img">
            <img src="assets/images/markets/civil-construction/IMG_4778.JPG" alt="Imagem principal de construção civil">
        </div>

        <h1 class="mt-4">Empresa que <span>conquista</span>, gera <span>confiança</span></h1>

        <p class="mt-2">
            O segmento de construção civil utiliza grande quantidade de perfis de alumínio devido à durabilidade do material, 
            leveza e ao acabamento que o alumínio proporciona. Por isso, trabalhamos diariamente desenvolvendo perfis para 
            atender às necessidades do mercado e estar sempre presente nas maiores obras do país, conquistando premiações e 
            reconhecimento no mercado.
        </p>

        <img class="w-75 d-block mx-auto" src="assets/images/markets/civil-construction/Olgacolor_banner_Histótia-1400x454.png" alt="Imagem + 50 anos">

        <h1 class="mt-5 pt-5 text-center"><span>SISTEMAS</span> RESIDENCIAIS</h1>

        <div id="residential_systems">
            <div class="row align-items-center pt-5">
                <div class="col-lg-6">
                    <img src="assets/images/markets/civil-construction/Logo_Aglo.png" alt="Logo da Aglo" class="img_content">
                    <h3 class="mt-3">Sistemas: <span>Aglo 2.0, 2,5, 2.5OC e 3.2</span></h3>
                    <p class="mt-2">
                        Sistemas residenciais e comerciais completos para todos os padrões: alto, médio e popular. Atendem 
                        plenamente às normas nas cinco regiões do país.
                    </p>
                </div>
    
                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/civil-construction/Catalogos_unicos_Aglo.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>
            </div>

            <hr class="d-lg-none mt-5 mb-0">

            <div class="row align-items-center pt-5 flex-column-reverse flex-lg-row">    
                <div class="col-lg-6">
                    <img src="assets/images/markets/civil-construction/Catalogos_unicos_Lock.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>

                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/civil-construction/Lock-2048x764.png" alt="Logo da Lock" class="img_content">
                    <h3 class="mt-3">Sistemas: <span>Lock/SL, Lock/HD, Lock/S, Lock CL e Lock L</span></h3>
                    <p class="mt-2">
                        Sistema de atenuação acústica para portas e janelas deslizantes e de giro, que reduzem até 39dB os ruídos característicos dos grandes centros urbanos. 
                        Ultrapassam os desempenhos exigidos pelas normas brasileiras e garantem além do isolamento sonoro, estanqueidade ao ar, água e ao vento.
                    </p>
                </div>
            </div>
            
            <hr class="d-lg-none mt-5 mb-0">

            <div class="row align-items-center pt-5">
                <div class="col-lg-6">
                    <img src="assets/images/markets/civil-construction/Delicato.png" alt="Logo da Delicato" class="img_content">
                    <h3 class="mt-3">Sistema: <span>Minimalista</span></h3>
                    <p class="mt-2">
                        O sistema Delicato de esquadrias minimalistas traz a leveza e design diferenciado para seus ambientes. Os perfis que compõem o sistema possuem menor massa frontal, 
                        garantindo um visual mais leve e sutil. Atende a grandes vãos, com folhas que permitem a utilização de vidros de 12mm a 22mm de espessura.
                    </p>
                </div>
    
                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/civil-construction/Catalogo_unico_Delicato.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>
            </div>

            <hr class="d-lg-none mt-5 mb-0">

            <div class="row align-items-center pt-5 flex-column-reverse flex-lg-row">    
                <div class="col-lg-6">
                    <img src="assets/images/markets/civil-construction/Catalogo_unico_Delicato³.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>

                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/civil-construction/Logotipo-Delicato-III-2048x595.png" alt="Logo da Delicato" class="img_content">
                    <h3 class="mt-3">Sistema: <span>Minimalista</span></h3>
                    <p class="mt-2">
                        O inovador sistema Delicato³ de esquadrias minimalistas proporciona sofisticação e modernidade ao seu projeto, possuindo perfis de menor massa frontal
                    </p>
                </div>
            </div>

            <hr class="d-lg-none mt-5 mb-0">

            <div class="row align-items-center pt-5">
                <div class="col-lg-6">
                    <img src="assets/images/markets/civil-construction/LOGOTIPO-OLGA-SIERRA_final-2048x818.png" alt="Logo da Olga Sierra" class="img_content">
                    <h3 class="mt-3">Sistema: <span>Olga Sierra</span></h3>
                </div>
    
                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/civil-construction/Catalogo_unico_Olga-Sierra.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>
            </div>

            <hr class="d-lg-none mt-5 mb-0">

            <div class="row align-items-center pt-5 flex-column-reverse flex-lg-row">    
                <div class="col-lg-6">
                    <img src="assets/images/markets/civil-construction/Catalogo_unico_Colato.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>

                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/civil-construction/LOGOTIPO-COLATO-2048x718.png" alt="Logo da Colato" class="img_content">
                    <h3 class="mt-3">Sistema: <span>Colato</span></h3>
                    <p class="mt-2 mb-0">
                        Sistema de correr convencional com vidro colado, que faz do visual clean e moderno, com pouca massa de alumínio aparente.
                    </p>
                    <p>
                        Comporta vidros de 06mm a 10mm de espessura e suporta carga de até 200Kg por folha.
                    </p>
                </div>
            </div>

            <hr class="d-lg-none mt-5 mb-0">

            <div class="row align-items-center pt-5">
                <div class="col-lg-6">
                    <img src="assets/images/markets/civil-construction/Grid.png" alt="Logo da GRID" class="img_content">
                    <h3 class="mt-3">Sistema: <span>Fachada GRID</span></h3>
                    <p class="mt-2">
                        Sistema construtivo para fachadas cortina e entre vãos.
                        Os perfis de alumínio se sobrepõem externamente criando formas geométricas planejadas com forte apelo estético. Sistema construtivo 
                        à 90˚para colunas, ancoragens, travessas, presilhas e tampas, sendo as requadrações do maxim-ar à 45˚, gerando excelente produtividade 
                        na fabricação e instalação.
                    </p>
                </div>
    
                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/civil-construction/Catalogo_unico_Grid.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>
            </div>

            <hr class="d-lg-none mt-5 mb-0">

            <div class="row align-items-center pt-5 flex-column-reverse flex-lg-row">    
                <div class="col-lg-6">
                    <img src="assets/images/markets/civil-construction/Catalogo_unico_Stick.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>

                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/civil-construction/Stick (1).png" alt="Logo da STICK" class="img_content">
                    <h3 class="mt-3">Sistema: <span>Fachada STICK</span></h3>
                    <p class="mt-2">
                        Sistema construtivo para fachadas cortinas ou entre vãos. Possibilita a instalação dos vidros de forma colada (structural glazing) ou encaixilhados. 
                        Atende diversas formas de tipologias, pois possui inúmeras opções de colunas, travessas e quadros, além de seus 3 níveis de vedação.
                    </p>
                </div>
            </div>

            <hr class="d-lg-none mt-5 mb-0">

            <div class="row align-items-center pt-5">
                <div class="col-lg-6">
                    <img src="assets/images/markets/civil-construction/Unik (1).png" alt="Logo da Unik" class="img_content">
                    <h3 class="mt-3">Sistema: <span>Fachada Unik</span></h3>
                    <p class="mt-2">
                        Sistema de fachada cortina. Diferente dos sistemas convencionais Stick, compreende o conjunto ancoragens-colunas-travessas-quadros, que dependem exclusivamente 
                        do conjunto ancoragens-painéis. Painéis estes que podem incorporar diversos elementos dentro de um único painel da fachada, tais como: vidro, granito, alumínio 
                        composto (ACM), brises, entre outros.
                    </p>
                </div>
    
                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/civil-construction/Catalogo_unico_Unik.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>
            </div>

            <hr class="d-lg-none mt-5 mb-0">

            <div class="row align-items-center pt-5 flex-column-reverse flex-lg-row">    
                <div class="col-lg-6">
                    <img src="assets/images/markets/civil-construction/Catalogo_unico_Unik.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>

                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/civil-construction/Imponenza (1).png" alt="Logo da Impnoenza" class="img_content">
                    <h3 class="mt-3">Sistema: <span>Fachada Impnoenza</span></h3>
                    <p class="mt-2">
                        O mais recente sistema de fachada unitizado da Olgacolor foi projetado com a inovadora capacidade de embutir o maxim-ar sem marcos visíveis, 
                        destacando-se pela sua estética clean e moderna.
                    </p>
                </div>
            </div>

            <hr class="d-lg-none mt-5 mb-0">

            <div class="row align-items-center pt-5">
                <div class="col-lg-6">
                    <img src="assets/images/markets/civil-construction/Neograd (2).png" alt="Logo da Neograd" class="img_content">
                    <h3 class="mt-3">Sistema: <span>Guarda-corpo Neograd</span></h3>
                    <p class="mt-2 mb-0">
                        Novo sistema de gradil minimalista, com desenvolvimento exclusivo Olgacolor.
                    </p>
                    <p>
                        Visa atender à nova tendência de mercado, onde as massas de alumínio são omitidas em visão frontal e implementadas na 
                        ação contrária às cargas de vento e de uso, aumentando assim a área envidraçada.
                    </p>
                </div>
    
                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/civil-construction/Catalogo_unico_Neograd.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>
            </div>

            <hr class="d-lg-none mt-5 mb-0">

            <div class="row align-items-center pt-5 flex-column-reverse flex-lg-row">    
                <div class="col-lg-6">
                    <img src="assets/images/markets/civil-construction/Catalogo_unico_Linea-Glass.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>

                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/civil-construction/LineaGlass-1-2048x830.png" alt="Logo da Linea Glass" class="img_content">
                    <h3 class="mt-3">Sistema: <span>Guarda-corpo Linea Glass</span></h3>
                    <p class="mt-2">
                        Desenvolvido para entregar ao mercado segurança, conforto e elegância com um visual sem limites. Este sistema de guarda-corpo autoportante é de 
                        fácil instalação, pois utiliza parafusos estruturais, cunhas e borrachas para alinhamento e travamento dos vidros. Além disso, possui exclusiva capa 
                        de acabamento, que pode sempre ser trocada para renovar o seu ambiente.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>