<div id="infrastructure">
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-5">
                        <h6>INFRAESTRUTURA</h6>
                        <h3>& TECNOLOGIA</h3>
                        <img src="assets/images/technology/logos-infrastructure.avif" alt="Logos da infraestrutura" class="img-fluid">
                        <p>
                            Com um parque fabril de 35.000m² em São Bernardo do Campo (SP) e uma unidade industrial de 90.000m² em 
                            Jacutinga (MG), a Olga Color combina tecnologia de ponta, engenharia avançada e processos sustentáveis.
                        </p>
                        <p>
                            A capacidade anual de 20 mil toneladas de extrusão, 10 mil toneladas de anodização e 18 mil toneladas de 
                            pintura eletrostática a pó reflete a robustez e a precisão de sua operação. Cada produto é desenvolvido 
                            dentro dos mais rigorosos padrões de qualidade, testado e certificado junto à AFEAL e ao ITEC, seguindo 
                            todas as normas técnicas da ABNT.
                        </p>
                        <p>
                            O compromisso da Olgacolor vai além da produção - é sobre criar soluções que integram arquitetura, design 
                            e funcionalidade, moldando estruturas que resistem ao tempo e definem o futuro da construção.
                        </p>
                    </div>
                    <div class="col-lg-7 mt-5 mt-lg-0">
                        <div class="carousel-container">
                            <div class="carousel-slider">
                                @for (img of imgCarouselSlider; track img) {
                                    <div class="carousel-slide">
                                        <img [src]="img.src" alt="Imagem do carousel infraestrutura">
                                    </div>
                                }
                            </div>
                            <div class="btn-slider">
                                <button class="prev" (click)="moveSlide(-1)">&#10094;</button>
                                <button class="next" (click)="moveSlide(1)">&#10095;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
