<div id="references">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h6>REFERENCIAIS</h6>
                <h3>ESTRATÉGICOS</h3>
                <app-dividing-line [width]="dynamicWidth" [bg]="dynamicBg" />
                <img src="assets/images/technology/references.png" alt="Imagem do bloco referenciais" class="w-100">
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <div>
                    <h5>Missão</h5>
                    <p>
                        Desenvolver soluções em alumínio que atendam às mais diversas necessidades através de 
                        produtos com design único e exclusivo, que facilitem a vida de nossos clientes e parceiros.
                    </p>
                </div>
                <div>
                    <h5>Visão</h5>
                    <p>
                        Ser a empresa brasileira preferida no segmento de extrusão, pintura e anodização de perfis de alumínio. 
                        Se destacar pela excelência de sua equipe, por seu atendimento e produtos sendo a companhia mais rentável. 
                    </p>
                </div>
                <div>
                    <h5>Valores</h5>
                    <p>
                        <strong>Foco em resultados</strong> – Atuamos com eficiência e comprometimento para alcançar os melhores resultados.
                    </p>
                    <p class="mt-5">
                        <strong>Desenvolvimento contínuo</strong> – Investimos no aprimoramento de nossas competências para evoluir constantemente.
                    </p>
                    <p class="mt-5">
                        <strong>Responsabilidade e transparência</strong> – Agimos com integridade, assumindo compromissos com clareza e ética.
                    </p>
                    <p class="mt-5">
                        <strong>Inovação e qualidade</strong> – Buscamos soluções inovadoras sem abrir mão da excelência em tudo o que fazemos.
                    </p>
                    <p class="mt-5">
                        <strong>Valorização das pessoas</strong> – Respeitamos e incentivamos o crescimento de cada indivíduo.
                    </p>
                    <p class="mt-5">
                        <strong>Sustentabilidade integral</strong> – Equilibramos desenvolvimento econômico, responsabilidade social e preservação ambiental.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>