<div id="references">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h6>REFERENCIAIS</h6>
                <h3>ESTRATÉGICOS</h3>
                <app-dividing-line [width]="dynamicWidth" [bg]="dynamicBg" />
                <img src="assets/images/technology/references.avif" alt="Imagem do bloco referenciais" class="w-100">
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <div>
                    <p>Missão</p>
                    <p>
                        Desenvolver soluções em alumínio que atendam às mais diversas necessidades através de 
                        produtos com design único e exclusivo, que facilitem a vida de nossos clientes e parceiros.
                    </p>
                </div>
                <div>
                    <p>Visão</p>
                    <p>
                        Ser a empresa brasileira preferida no segmento de extrusão, pintura e anodização de perfis de alumínio. 
                        Se destacar pela excelência de sua equipe, por seu atendimento e produtos sendo a companhia mais rentável. 
                    </p>
                </div>
                <div>
                    <p>Valores</p>
                    <p>Foco em resultados;</p>
                    <p>Desenvolvemos competências;</p>
                    <p>Assumimos responsabilidades;</p>
                    <p>Somos transparentes;</p>
                    <p>Inovação e qualidade;</p>
                    <p>Respeitamos e valorizamos o ser humano;</p>
                    <p>Sustentabilidade econômica, social e ambiental;</p>
                </div>
            </div>
        </div>
    </div>
</div>