<div id="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-2">
                <a routerLink="/home">
                    <img src="assets/images/logo_olgacolor_color.avif" alt="Logo da Olgacolor" class="img-fluid d-block mx-auto">
                </a>
            </div>
            <div class="col-lg-9 mt-5 mt-lg-0">
                <div class="row text-center text-sm-start">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <h5>EMPRESA</h5>

                        <ul id="block_links">
                            <li>
                                <a routerLink="/home">Home</a>
                            </li>
                            <li>
                                <a routerLink="/home">Institucional</a>
                            </li>
                            <li>
                                <a routerLink="/home">Mercados</a>
                            </li>
                            <li>
                                <a routerLink="/home">Perfis</a>
                            </li>
                            <li>
                                <a routerLink="/home">Acabamentos</a>
                            </li>
                            <li>
                                <a routerLink="/home">Informativo</a>
                            </li>
                            <li>
                                <a routerLink="/home">Contato</a>
                            </li>
                            <li>
                                <a routerLink="/home">Catálogo</a>
                            </li>
                            <li>
                                <a routerLink="/home">Obras</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-3 mt-sm-0">
                        <h5>JURÍDICO</h5>

                        <ul>
                            <li>
                                <a routerLink="/home">Política de Cookies</a>
                            </li>
                            <li>
                                <a routerLink="/home">Política de Privacidade</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-3 mt-md-0">
                        <h5>REDES SOCIAIS</h5>

                        <ul>
                            <li>
                                <a routerLink="/home">Linkedin</a>
                            </li>
                            <li>
                                <a routerLink="/home">Facebook</a>
                            </li>
                            <li>
                                <a routerLink="/home">Instagram</a>
                            </li>
                            <li>
                                <a routerLink="/home">X</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-3 mt-lg-0">
                        <h5>CONTATO</h5>

                        <ul>
                            <li>
                                <a routerLink="mailto:olgacolor@olgacolor.com.br">olgacolor&#64;olgacolor.com.br</a>
                            </li>
                            <p class="mb-0">Tel.: (11) 3318.1000</p>    
                            <p class="mb-0">Av. Dr. Rudge Ramos, 1.070</p>    
                            <p class="mb-0">Rudge Ramos - São Bernardo do Campo/SP.</p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <p class="text-center mt-3 mb-0">&copy; {{ currentYear }} por Olgacolor. Criado com Tri Soluções.</p>
    </div>
</div>