<div id="markets_main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>
                    <span>Construção</span> <br> 
                    <span>Civil</span>
                </h2>
                <p class="mt-5">
                    O segmento da construção civil utiliza grande quantidade de perfis de alumínio devido à durabilidade do material, 
                    leveza e ao acabamento que o alumínio proporciona. Os produtos são de alta tecnologia e permitem sua utilização em 
                    todo o projeto, desde empreendimentos simples até os mais sofisticados.
                </p>
                <div class="d-flex gap-3">
                    <a routerLink="/contato" class="btn btn-outline-dark rounded-pill px-3">Contato</a>
                    <a routerLink="/mercados/construcao-civil" class="btn btn-outline-dark rounded-pill px-3">Apresentação</a>
                    <a routerLink="/" class="btn btn-outline-dark rounded-pill px-3">Produtos</a>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <div class="img">
                    <img src="assets/images/markets/civil_construction.png" alt="Imagem de construção civil">
                </div>
            </div>
        </div>
        <div class="row flex-column-reverse flex-lg-row mt-5">
            <div class="col-lg-6 mt-5">
                <div class="img">
                    <img src="assets/images/markets/glazing.png" alt="Imagem de envidraçamento">
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <h2>Envidraçamento</h2>
                <p class="mt-5">
                    Sistemas de envidraçamento com ou sem roldanas para sacadas, varandas, jardins de inverno, etc. Também disponibilizamos 
                    sistema telescópico e prolongador, que permite a correção das imperfeições do vão sem a necessidade de obra civil. 
                    Ainda contamos com o Sistema TMC, uma inovação desenvolvida para solucionar projetos com vãos altos e extensos e o 
                    Sistema de box + engenharia, tudo para sua comodidade e segurança.
                </p>
                <div class="d-flex gap-3">
                    <a routerLink="/contato" class="btn btn-outline-dark rounded-pill px-3">Contato</a>
                    <a routerLink="/" class="btn btn-outline-dark rounded-pill px-3">Apresentação</a>
                    <a routerLink="/" class="btn btn-outline-dark rounded-pill px-3">Produtos</a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 mt-5">
                <h2>
                    <span>Linha</span> <br> 
                    <span>Moveleira</span>
                </h2>
                <p class="mt-5">
                    Linha de produtos destinada ao segmento de móveis e decorações, com puxadores, perfis, montantes, trilhos, travessas, 
                    cabideiros, entre outros itens com acabamentos variados.
                </p>
                <div class="d-flex gap-3">
                    <a routerLink="/contato" class="btn btn-outline-dark rounded-pill px-3">Contato</a>
                    <a routerLink="/mercados/linha-moveleira" class="btn btn-outline-dark rounded-pill px-3">Apresentação</a>
                    <a routerLink="/" class="btn btn-outline-dark rounded-pill px-3">Produtos</a>
                </div>                
                <svg preserveAspectRatio="xMidYMid meet" data-bbox="25.361 24.252 149.278 159.541" viewBox="25.361 24.252 149.278 159.541" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true" aria-label="">
                    <g>
                        <path d="M30.259 24.253h134.116c5.669 0 10.264 4.581 10.264 10.232v143.962a3.24 3.24 0 0 1-3.233 3.223h-5.524a3.207 3.207 0 0 1-3.212-3.202V50.332c0-2.131-2.378-3.153-3.726-1.619L34.161 182.77c-1.268 1.364-3.25 1.364-4.44 0l-3.409-3.665c-1.268-1.363-1.268-3.494 0-4.772L151.35 39.916c1.322-1.422.311-3.732-1.634-3.732H30.238a3.207 3.207 0 0 1-3.212-3.202v-5.507a3.237 3.237 0 0 1 3.233-3.223Z"></path>
                    </g>
                </svg>                
            </div>
            <div class="col-lg-6 mt-5">
                <div class="img">
                    <img src="assets/images/markets/furniture_line.png" alt="Imagem de envidraçamento">
                </div>
            </div>
        </div>
        <div class="row flex-column-reverse flex-lg-row mt-5">
            <div class="col-lg-6 mt-5">
                <div class="img">
                    <img src="assets/images/markets/industrial_line.png" alt="Imagem de envidraçamento">
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <h2>
                    <span>Linha</span> <br> 
                    <span>Industrial</span>
                </h2>
                <p class="mt-5">
                    Os perfis produzidos para atender à linha Industrial tem diversas aplicações, como por exemplo no setor de refrigeração, 
                    transportes, elétrica, de máquinas e equipamentos, ou em qualquer bem de consumo que necessite do alumínio em sua composição. 
                    Nosso departamento técnico desenvolve os perfis e faz a adequação necessária ao seu projeto.
                </p>
                <div class="d-flex gap-3">
                    <a routerLink="/contato" class="btn btn-outline-dark rounded-pill px-3">Contato</a>
                    <a routerLink="/" class="btn btn-outline-dark rounded-pill px-3">Apresentação</a>
                    <a routerLink="/" class="btn btn-outline-dark rounded-pill px-3">Produtos</a>
                </div>
            </div>
        </div>
    </div>
</div>