<div id="tradition-excellence">
    <div class="container">
        <div class="row flex-column-reverse flex-lg-row">
            <div class="col-lg-6 mt-5 mt-lg-0">
                <img src="assets/images/technology/tradition-excellence.avif" alt="Imagem do bloco tradição e excelência" class="w-100">
            </div>
            <div class="col-lg-6">
                <div class="title">
                    <h6>TRADIÇÃO E EXCELÊNCIA</h6>
                    <h3>UMA INDÚSTRIA QUE DEFINE PADRÕES</h3>
                </div>
                <p>
                    Desde 1968, a Olga Color projeta o futuro em alumínio, redefinindo padrões e elevando a engenharia 
                    de materiais a um novo patamar. Com uma trajetória sólida e inovadora, a empresa domina todas as 
                    etapas da produção - da extrusão à anodização e pintura eletrostática a pó -, garantindo precisão, 
                    durabilidade e estética refinada.
                </p>
                <p>
                    O alumínio ganha forma em projetos que aliam tecnologia e design, atendendo às demandas mais 
                    exigentes da construção civil, indústria, transportes e setor automotivo. Cada peça desenvolvida 
                    carrega a assinatura da Olga Color: inovação aplicada, resistência e um compromisso inabalável com 
                    a excelência.
                </p>
            </div>
        </div>
    </div>
</div>
