<div id="markets">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h4>Mercados de <strong>atuação</strong></h4>
                <a routerLink="/home" class="btn btn-outline-dark rounded-pill">Saiba mais</a>
            </div>
            <div class="col-lg-9 mt-5 mt-lg-0">
                <div id="blocks">
                    <div>
                        <p>Construção Civil</p>
                    </div>
                    <div>
                        <p>Envidraçamento</p>
                    </div>
                    <div>
                        <p>Linha moveleira</p>
                    </div>
                    <div>
                        <p>Indústria</p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>