<nav class="navbar navbar-expand-lg flex-column" id="header" [ngClass]="headerClass()">
    <div class="container">
        <div>
            <i class="bi bi-globe" title="Mudar idioma" (click)="openDropdown()"></i>
            @if (isDropdownOpen()) {
            <div class="dropdown">
                <ul>
                    <li (click)="changeLanguage('pt')">
                        Português
                    </li>
                    <li (click)="changeLanguage('en')">
                        Inglês
                    </li>
                </ul>
            </div>
            }
            <span class="ms-2 d-sm-none">|</span>
        </div>
        <span class="d-none d-sm-block">|</span>
        <div>
            <a routerLink="/login"><i class="bi bi-person-lock"></i>ACESSE A ÁREA DO CLIENTE</a>
            <span class="ms-2 d-sm-none">|</span>
        </div>
        <span class="d-none d-sm-block">|</span>
        <div>
            <p class="mb-0">FALE CONOSCO</p>
            <a routerLink="/"><i class="bi bi-linkedin"></i></a>
            <a routerLink="/"><i class="bi bi-instagram"></i></a>
            <a routerLink="/"><i class="bi bi-youtube"></i></a>
        </div>
    </div>

    <div class="container">
        <a class="navbar-brand" routerLink="/pagina-inicial">
            <img class="img-fluid" src="assets/images/logo_olgacolor_white.avif" alt="Logo da Olgacolor">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-lg-3">
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/pagina-inicial">Home</a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Institucional
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/tecnologia">Tecnologia</a></li>
                        <li><a class="dropdown-item" routerLink="/processos-producao">Processos de produção</a></li>
                        <li><a class="dropdown-item" routerLink="/processos-producao/extrusao">Extrusão</a></li>
                        <li><a class="dropdown-item" routerLink="/processos-producao/jateamento">Jateamento</a></li>
                        <li><a class="dropdown-item" routerLink="/processos-producao/polimento">Polimento</a></li>
                        <li><a class="dropdown-item" routerLink="/processos-producao/usinagem">Usinagem</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mercados
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/mercados">Mercados</a></li>
                        <li><a class="dropdown-item" routerLink="/mercados/construcao-civil">Construção Civil</a></li>
                        <li><a class="dropdown-item" routerLink="/mercados/linha-moveleira">Perfis Moveleiros</a></li>
                        <li><a class="dropdown-item" routerLink="/mercados/linha-industrial">Perfis Industriais</a></li>
                        <li><a class="dropdown-item" routerLink="/mercados/envidracamento">Vidraçaria</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Perfis
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/perfis">Perfis</a></li>
                        <li><a class="dropdown-item" (click)="onPerfilClick('Construção Civil')">Perfis Construção
                                Civil</a></li>
                        <li><a class="dropdown-item" (click)="onPerfilClick('Vidraçaria')">Perfis Vidraçaria</a></li>
                        <li><a class="dropdown-item" (click)="onPerfilClick('Moveleira')">Perfis Moveleiros</a></li>
                        <li><a class="dropdown-item" (click)="onPerfilClick('Industrial')">Perfis Industriais</a></li>
                        <li><a class="dropdown-item" (click)="onPerfilClick('Tabelados O')">Perfis Tabelados</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Acabamentos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/acabamentos">Acabamentos</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="#">Obras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lme">LME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Sair</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <input [formControl]="searchProfileControl" [matAutocomplete]="auto" class="search-profile" type="text"
            placeholder="Buscar perfis" />
        <mat-autocomplete #auto="matAutocomplete">
            @for (profile of filteredProfiles | async; track profile.id) {
            <mat-option [value]="profile">
                <div class="option">
                    <img [src]="profile.image_small" alt="Profile image" />
                    <span>{{ profile.name }}</span>
                </div>
            </mat-option>
            }
        </mat-autocomplete>
    </div>
</nav>