#header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #000;

    > div {
        &:nth-of-type(1) {
            color: #FFF;         
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;
            
            @media (max-width: 576px) {
                flex-direction: column;
            }

            > div {
                &:nth-of-type(1) {
                    position: relative;

                    i {
                        cursor: pointer;
                    }

                    .dropdown {
                        position: absolute;  
                        z-index: 10000;
                        
                        ul {
                            width: max-content;
                            background-color: #FFF;
                            list-style: none;
                            padding: .75rem 5rem .75rem .75rem;
                            border-radius: .25rem;
                            border: 1px solid #686868;

                            li {
                                &:not(:first-child) {
                                    margin-top: .5rem;
                                }

                                color: #000;
                                cursor: pointer;
                                font-size: .8rem;
                                transition: border-bottom .35s ease-in-out;

                                &:hover {
                                    border-bottom: 1px solid #000;
                                }
                            }
                        }
                    }
                }

                &:nth-of-type(3) {
                    display: flex;
                    align-items: center;

                    p {
                        color: #FFF;
                        font-size: .8rem;
                        margin-right: .5rem;
                    }
                }
            }
            
            a {
                color: #FFF;
                text-decoration: none;
                font-size: .8rem;
                opacity: .85;
                transition: all .35s ease-in-out;

                &:hover {
                    opacity: 1;
                }

                i {
                    font-size: 1rem;
                    margin-right: .5rem;
                }
            }
        }
    }

    ul {
        li {
            &.dropdown {
                &:hover {
                    a {
                        opacity: 1;
                    }
                }

                ul {
                    background-color: transparent;
                    border: 0;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                    li {
                        a {
                            &:hover {
                                // background-color: #000;
                                color: #000!important;
                            }
                        }
                    }
                }
            }
        }
    }

    &.scrolled {
        background-color: #000;  

        ul {
            li {
                &.dropdown {
                    ul {
                        background-color: #000;

                        @media (max-width: 992px) {
                            box-shadow: none;
                        }
    
                        li {
                            a {
                                &:hover {
                                    color: #000!important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media (min-width: 992px) {
        position: fixed; 
        background-color: transparent;
    }

    ul {
        li {
            a {
                color: #FFF;
                transition: .35s ease-in-out;
            }
    
            &:hover {
                a {
                    opacity: .5;
                }
            }
        }
    }
}
