<nav class="navbar navbar-expand-lg" id="header" [ngClass]="headerClass">
    <div class="container">
        <a class="navbar-brand" routerLink="/pagina-inicial">
            <img class="img-fluid" src="assets/images/logo_olgacolor_white.avif" alt="Logo da Olgacolor">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-lg-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/pagina-inicial">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Institucional
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/tecnologia">Tecnologia</a></li>
                        <li><a class="dropdown-item" routerLink="/processos-producao">Processos de produção</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/mercados">Mercados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/perfis">Perfis</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="#">LME</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/acabamentos">Acabamentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/informativo">Informativo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contato">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/catalogos">Catálogos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="#">Obras</a>
                </li>
            </ul>
        </div>
    </div>
</nav>