#header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #000;
    padding: 1rem 0;

    @media (min-width: 992px) {
        position: fixed;
        background-color: transparent;
    }

    &.scrolled {
        background-color: #000;
    }

    ul {
        li {
            a {
                color: #FFF;
                transition: .35s ease-in-out;
            }
    
            &:hover {
                a {
                    opacity: .5;
                }
            }
        }
    }
}
