#processes_production_polishing_main {
    padding: 3rem 0;

    img {
        border-radius: 3rem;
        max-width: 100%;
    }

    p {
        margin: 2rem 0;
    }

    ul {
        width: 100%;
        border-bottom: 1px solid;
        padding-bottom: 2rem;
    }

    .btn {
        margin-top: 3rem;
    }
}