<div id="processes_production_polishing_main">
    <div class="container">
        <div class="row flex-column-reverse flex-lg-row">
            <div class="col-lg-6 mt-5 mt-lg-0">
                <img src="assets/images/processes-production/polishing/main.avif" alt="Imagem principal do jateamento">
            </div>
            <div class="col-lg-6">
                <h2>Polimento <br> & Escovamento</h2>
                <p>
                    Consiste na utilização de discos impregnados de abrasivos, que em contato com o perfil 
                    garantem à superfície uma aparência polida ou escovada, de acordo com as necessidades 
                    do cliente.
                </p>
                <ul>
                    <li>Equipamento italiano com 2 cabeçotes</li>
                    <li>22 metros de comprimento</li>
                    <li>Capacidade de 20.000 toneladas/ano</li>
                    <li>Acabamento brilhante e escovado</li>
                    <li>Carga e descarga automática</li>
                </ul>
                <a routerLink="/processos-producao" class="btn btn-outline-dark rounded-pill px-4">Processos</a>
            </div>
        </div>
    </div>
</div>