<div id="vision">
    <div>
        <div class="container">
            <app-dividing-line [width]="dynamicWidth" [bg]="dynamicBg" />
    
            <h5>VISÃO</h5>
    
            <div class="row">
                <div class="col-lg-10">
                    <h1>
                        Olgacolor, <strong>qualidade</strong> é o nosso <strong>perfil</strong>.
                        <img class="img-fluid" src="assets/images/home/stamps_vision.avif" alt="Selos da visão">
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img class="w-100" src="assets/images/home/bg_vision.avif" alt="Plano de fundo da visão">
    </div>
</div>