#vision {
    > div {
        &:nth-of-type(1) {
            padding: 5rem 0;
            background-color: #000;
            color: #FFF;
        
            h5 {
                margin: 2rem 0;
            }
        
            .row {
                > div {
                    h1 {
                        margin: 0;

                        img {
                            @media (max-width: 410px) {
                                margin-top: 2rem;
                            }

                            @media (min-width: 411px) and (max-width: 511px) {
                                margin-left: 2rem;
                            }

                            @media (min-width: 512px) and (max-width: 627px) {
                                margin-top: 2rem;
                            }

                            @media (min-width: 628px) and (max-width: 767px) {
                                margin-left: 2rem;
                            }

                            @media (min-width: 768px) and (max-width: 1199px) {
                                margin-top: 2rem;
                            }

                            @media (min-width: 1200px) {
                                margin-left: 2rem;
                            }
                        }    
                    }
                }
            }
        }
    }
}