<div id="vision">
    <div>
        <div class="container">
            <app-dividing-line [width]="dynamicWidth" [bg]="dynamicBg" />
    
            <h5>VISÃO</h5>
    
            <div class="row">
                <div class="col-lg-10">
                    <h1>
                        <strong>Qualidade</strong> é o nosso <strong>perfil</strong>.
                        <img class="img-fluid" src="assets/images/home/stamps_vision.avif" alt="Selos da visão">
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <video autoplay [muted]="'muted'" loop>
            <source src="assets/videos/home/vision.mp4" type="video/mp4">
            Seu navegador não suporta vídeo.
        </video>
    </div>
</div>