<div id="markets">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h3>Mercados de <strong>atuação</strong></h3>
                <a routerLink="/pagina-inicial" class="btn btn-outline-dark rounded-pill mt-2">Saiba mais</a>
            </div>
            <div class="col-lg-9 mt-5 mt-lg-0">
                <div id="blocks">
                    <div>
                        <p>Construção Civil</p>
                    </div>
                    <div>
                        <p>Envidraçamento</p>
                    </div>
                    <div>
                        <p>Linha moveleira</p>
                    </div>
                    <div>
                        <p>Indústria</p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>