<div id="processes_production_blasting_main">
    <div class="container">
        <div class="row flex-column-reverse flex-lg-row">
            <div class="col-lg-6 mt-5 mt-lg-0">
                <img src="assets/images/processes-production/blasting/main.avif" alt="Imagem principal do jateamento">
            </div>
            <div class="col-lg-6">
                <h2>Jateamento</h2>
                <p>
                    Processo feito através de turbinas de alta rotação onde micropartículas de aço inoxidável 
                    são projetadas contra o perfil de alumínio, conferindo ao mesmo um aspecto fosco, sedoso, 
                    de aparência agradável e uniforme. Após este processo o material é anodizado.
                </p>
                <ul>
                    <li>Equipamento italiano com 8 turbinas</li>
                    <li>24 metros de comprimento</li>
                    <li>Capacidade de 20.000 toneladas/ano</li>
                    <li>Acabamento fosco acetinado</li>
                    <li>Garante uniformidade na superfície do alumínio</li>
                    <li>Carga e descarga automática</li>
                </ul>
                <a routerLink="/processos-producao" class="btn btn-outline-dark rounded-pill px-4">Processos</a>
            </div>
        </div>
    </div>
</div>