<div id="contact_main">
    @if (isLoading) {
        <div class="loader">
            Carregando...
        </div>
    }
    
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="mb-0">Unidade</h2>
                <h2 class="mb-4">São Bernardo do Campo</h2>
                <p>
                    Av. Dr. Rudge Ramos, 1.070 - Rudge Ramos <br>
                    CEP: 09638-000 - São Bernardo do Campo/SP
                </p>
                <div id="map1" style="height: 400px; width: 100%"></div>
            </div>
            
            <div class="col-lg-6 mt-5 mt-lg-0">
                <h2 class="mb-0">Unidade</h2>
                <h2 class="mb-4">Jacutinga</h2>
                <p>
                    Rodovia MG 290 s/n Km 80 + 350 metros <br>
                    CEP: 37590-000 - Jacutinga/MG
                </p>
                <div id="map2" style="height: 400px; width: 100%"></div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6">  
                <h3>Fale conosco:</h3>
                <p>Temos pessoas especializadas, prontas para atender à todas as suas solicitações.</p>
                <h3 class="mt-5">Atendimento:</h3>
                <p>
                    Horário para entrega de materiais: <br>
                    Segunda a quinta-feira das 8h às 16h. <br>
                    Sexta-feira das 8h às 15h.
                </p>
            </div>

            <div class="col-lg-6 mt-5 mt-lg-0">
                <h3>Formulário para contato</h3>
                
                <form [formGroup]="formContact">
                    <div class="form-group mt-5">
                        <label class="form-label" for="name">Nome *</label>
                        <input class="form-control" type="text" placeholder="Nome" id="name" formControlName="name">
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label" for="company">Empresa *</label>
                        <input class="form-control" type="text" placeholder="Empresa" id="company" formControlName="company">
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label" for="email">Email *</label>
                        <input class="form-control" type="email" placeholder="Email" id="email" formControlName="email">
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label" for="cellphone">Celular *</label>
                        <input class="form-control" type="text" placeholder="Celular" id="cellphone" formControlName="cellphone" mask="(00) 00000-0000">
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label" for="message">Mensagem *</label>
                        <textarea class="form-control" id="message" formControlName="message" rows="5"></textarea>
                    </div>
                    <div class="form-check form-check-inline mt-3">
                        <input class="form-check-input" type="checkbox" id="accept_receive" formControlName="accept_receive">
                        <label class="form-check-label" for="accept_receive">
                            Caso deseje receber mensagens, promoções e informações dos nossos produtos através dos contatos inseridos acima, assinale a caixa abaixo.
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="mt-3">Selecione uma opção *</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="radioDefault" id="radioDefault1" value="construcao_civil">
                                <label class="form-check-label" for="radioDefault1">Construção Civil</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="radioDefault" id="radioDefault2" value="envidracamento">
                                <label class="form-check-label" for="radioDefault2">Envidraçamento</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="radioDefault" id="radioDefault3" value="moveleiro">
                                <label class="form-check-label" for="radioDefault3">Moveleiro</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="radioDefault" id="radioDefault4" value="industrial">
                                <label class="form-check-label" for="radioDefault4">Industrial</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="radioDefault" id="radioDefault5" value="estrutura_fotovoltaicas">
                                <label class="form-check-label" for="radioDefault5">Estrutura Fotovoltaicas</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="radioDefault" id="radioDefault6" value="implementos_rodoviarios">
                                <label class="form-check-label" for="radioDefault6">Implementos Rodoviários</label>
                            </div>
                            <button class="btn w-100 mt-3" (click)="onSubmit()" [disabled]="formContact.invalid">
                                {{ isLoading ? 'Enviando...' : 'Enviar' }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>