<div id="furniture_line_main">
    <div class="container">
        <div class="img">
            <img src="assets/images/markets/civil-construction/IMG_4778.JPG" alt="Imagem principal de construção civil">
        </div>

        <h1 class="mt-4">Empresa que <span>conquista</span>, gera <span>confiança</span></h1>

        <p class="mt-2 mb-0">
            Sistema de envidraçamento para sacadas, varandas, jardins de inverno, entre outros.
        </p>
        
        <p class="mb-0">
            A Olgacolor oferece o máximo em tecnologia, qualidade e inovação. Buscamos a cada dia fortalecer o nosso compromisso, por isso, 
            trabalhamos diariamente desenvolvendo perfis para atender às necessidades do mercado e estar sempre presente nas maiores obras do país, 
            conquistando premiações e reconhecimento no mercado.
        </p>

        <img class="w-75 d-block mx-auto" src="assets/images/markets/civil-construction/Olgacolor_banner_Histótia-1400x454.png" alt="Imagem + 50 anos">

        <h1 class="mt-5 pt-5 text-center"><span>LINHA</span> MOVELEIRA</h1>

        <div id="furniture_line">
            <div class="row align-items-center pt-5">
                <div class="col-lg-6">
                    <img src="assets/images/markets/furniture-line/Linha-Moveleira.png" alt="Logo da Linha Moveleira" class="img_content">
                    <h3 class="mt-3">Sistemas: <span>Linha Moveleira</span></h3>
                    <p class="mt-2">
                        Linha de produtos destinada ao segmento de móveis e decorações, com puxadores, perfis, montantes, trilhos, travessas, cabideiros, 
                        entre outros itens com acabamentos variados.
                    </p>
                </div>
    
                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/furniture-line/Catalogo_unico_Moveleira.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>
            </div>

            <hr class="d-lg-none mt-5 mb-0">

            <div class="row align-items-center pt-5 flex-column-reverse flex-lg-row">    
                <div class="col-lg-6">
                    <img src="assets/images/markets/furniture-line/Catalogo_unico_Infinite-Line.png" alt="Imagem do catálogo" class="d-block mx-auto img_catalog">
                    <a href="" class="btn btn-outline-dark rounded-pill d-table mx-auto mt-5">VISUALIZAR CATÁLOGOS TÉCNICOS</a>
                </div>

                <div class="col-lg-6 mt-3 mt-lg-0">
                    <img src="assets/images/markets/furniture-line/Infinite-Line (1).png" alt="Logo da Infinite Line" class="img_content">
                    <h3 class="mt-3">Sistema: <span>Prateleiras</span></h3>
                    <p class="mt-2">
                        Um sistema para prateleiras desenvolvido para facilitar o processo de montagem e proporcionar infinitas possibilidades de design.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>