<div id="finishes_main">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <h2>Nossas cores</h2>
                <p>
                    As cores e acabamentos podem variar devido aos diferentes tipos de monitores.
                    Para sua segurança, consulte sempre a disponibilidade de cores, padrões e
                    produtos com o acabamento desejado.
                </p>
                <a [routerLink]="['/acabamentos', {outlets: {second: 'products'}}]"
                    class="btn btn-outline-dark rounded-pill px-4">Produtos</a>
            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                    <div class="col">
                        <div class="block">
                            <img src="assets/images/finishes/anodizing.jpg" alt="Imagem de anodização">
                            <h6>Anodização</h6>
                        </div>
                    </div>
                    <div class="col mt-3 mt-sm-0">
                        <div class="block">
                            <img src="assets/images/finishes/wood_effect.jpg" alt="Imagem de efeito madeira">
                            <h6>Efeito Madeira</h6>
                        </div>
                    </div>
                    <div class="col mt-3 mt-md-0">
                        <div class="block">
                            <img src="assets/images/finishes/electrostatic_painting.jpg"
                                alt="Imagem de pintura eletrostática a pó">
                            <h6>Pintura Eletrostática a Pó</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>