#processes_production_machining_main {
    padding: 5rem 0;

    img {
        border-radius: 3rem;
        max-width: 100%;
    }

    h2 {
        margin: 0;
        border-left: 1px solid;
        padding: .25rem 0 .25rem 1.5rem;
    }

    p {
        margin: 2rem 0 3rem;
    }
}