<div id="processes_production_machining_main">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2>Usinagem</h2>
                <p>
                    Processo mecânico onde o perfil passa por uma remoção de material, sendo trabalhado 
                    e realizado o desgaste necessário em determinada região.
                </p>
                <a routerLink="/processos-producao" class="btn btn-outline-dark rounded-pill px-4">Processos</a>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <img src="assets/images/processes-production/machining/main.avif" alt="Imagem principal do jateamento">
            </div>
        </div>
    </div>
</div>