<div id="informative_main">
    <div class="container">
        <h2 class="text-center">Informativo</h2>

        <div class="row mt-5">
            <div class="col-lg-6">
                <img src="assets/images/informative/informative-2.jpg" alt="Imagem do informativo 2">
            </div>

            <div class="col-lg-6 mt-3 mt-lg-0">
                <h4 class="mb-3">Informativo Técnico - 02</h4>
                <p class="mb-3">Informativo de substituições lançado em Junho de 2017.</p>
                <a href="assets/pdfs/informative-2.pdf" download="informative-2.pdf" class="btn btn-outline-dark rounded-pill px-4">Baixar informativo</a>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-6">
                <img src="assets/images/informative/informative-1.jpg" alt="Imagem do informativo 1">
            </div>

            <div class="col-lg-6 mt-3 mt-lg-0">
                <h4 class="mb-3">Informativo Técnico - 01</h4>
                <p class="mb-3">Informativo de substituições lançado em Dezembro de 2016.</p>
                <a href="assets/pdfs/informative-1.pdf" download="informative-1.pdf" class="btn btn-outline-dark rounded-pill px-4">Baixar informativo</a>
            </div>
        </div>
    </div>
</div>