#vision {
    > div {
        &:nth-of-type(1) {
            padding: 5rem 0;
            background-color: #000;
            color: #FFF;
        
            h5 {
                margin-bottom: 3rem;
            }
        
            .row {
                > div {
                    h1 {
                        font-size: 4rem;
                        margin: 0;
        
                        img {
                            margin-left: 2rem;
                        }
                    }
                }
            }
        }
    }
}