#slider-carousel {
    padding: 5rem 0;

    .carousel {
        display: flex;
        max-width: 100%;
        overflow-x: scroll;
        gap: 1rem;

        .slide {
            img {
                border-radius: .5rem;
            }
        }
    }
}