<div id="olgacolor">
    <div class="container">
        <app-dividing-line [width]="dynamicWidth" [bg]="dynamicBg" />

        <h6>OLGACOLOR</h6>

        <h3>HÁ MAIS DE 50 ANOS</h3>
        <h5>PRESENTE NAS PRINCIPAIS OBRAS DO PAÍS</h5>

        <div class="row row-cols-1 row-cols-lg-3 row-cols-xl-4 justify-content-between">
            <div class="col">
                <h1>10.000</h1>
                <app-dividing-line [width]="dynamicWidth" [bg]="dynamicBg" />
                <p>Toneladas de anodização</p>
            </div>
            <div class="col">
                <h1>20.000</h1>
                <app-dividing-line [width]="dynamicWidth" [bg]="dynamicBg" />
                <p>Toneladas de extrusão</p>
            </div>
            <div class="col">
                <h1>18.000</h1>
                <app-dividing-line [width]="dynamicWidth" [bg]="dynamicBg" />
                <p>Toneladas de pintura eletrostática a pó</p>
            </div>
        </div>
    </div>
</div>