#olgacolor {
    padding: 5rem 0;
    background-color: #000;
    color: #FFF;

    h5 {
        margin-top: 2rem;
        font-weight: 300;
    }

    h3 {
        margin-bottom: 4rem;
        font-weight: 300;
    }

    h1 {
        margin: 0;
        font-weight: 300;
    }

    .row {
        > div {
            h1 {
                margin-bottom: 1rem;
            }

            p {
                margin: 1.5rem 0 0;
                font-weight: 300;
            }
        }
    }
}