#profiles_main {
    padding: 5rem 0;

    h1 {
        padding-bottom: 3rem;
        border-bottom: 1px solid;
    }

    img {
        border-radius: 1rem;
    }

    .container {
        > .row {
            &:nth-of-type(2) {
                .img {
                    width: 100%;
                    height: 20rem;
        
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
}