<div id="processes_production_anodizing_main">
    <div class="container">
        <img src="assets/images/processes-production/anodizing/main.avif" alt="Imagem principal da anoxidação">

        <div class="row align-items-center mt-5">
            <div class="col-lg-6">
                <h2>Anoxidação</h2>
                <a href="https://olgacolor.com.br/featured_item_category/anodizacao" target="_blank" class="btn btn-outline-dark rounded-pill px-5 py-2 mt-3">
                    PRODUTOS
                </a>
                <p>
                    A anodização é um processo químico, feito em banhos à base de substâncias alcalinas e de ácidos, com uma corrente elétrica que forma 
                    uma proteção transparente, isolante elétrica e resistente de óxido de alumínio. Por ser formada a partir dessa reação eletroquímica 
                    do alumínio, a camada fica integrada ao perfil.
                </p>
                <p>
                    Após a anodização em meio sulfúrico, é possível fazer a coloração da película em um banho contendo sais metálicos de sulfato de estanho, 
                    o qual é depositado por corrente alternada e controlada para o fundo dos poros da anodização. Posteriormente ao processo e à coloração, 
                    o perfil recebe um tratamento de selagem que consiste no fechamento dos poros, conferindo à anodização uma resistência máxima à corrosão.
                </p>
                <p>
                    A anodização é realizada em barras com até 6.8 mts de comprimento. Para perfis maiores consultar o departamento técnico.
                </p>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <ul>
                    <li>
                        Capacidade: 20 mil toneladas
                    </li>
                    <li>
                        Tecnologia Italiana
                    </li>
                    <li>
                        Processo automatizado
                    </li>
                    <li>
                        Garantia contra desplacamento
                    </li>
                    <li>
                        Alta resistência contra intempérie
                    </li>
                    <li>
                        Sem riscos ao meio ambiente e reciclável
                    </li>
                </ul>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-lg-6 mt-5">
                <a routerLink="/pagina-inicial" class="btn btn-outline-dark rounded-pill px-5 py-2">
                    Acabamentos
                </a>
                <h1 class="mt-3">Cuidados <br> & Manutenção</h1>
                <img class="mt-3" src="assets/images/processes-production/anodizing/logo-care.avif" alt="Logo do bloco cuidados">
            </div>
            <div class="col-lg-6 mt-5">
                <h6>Esquadrias de alumínio anodizadas</h6>
                <p>
                    1) Devido à propriedade anfótera do óxido de alumínio formado durante a anodização, deve-se evitar 
                    o seu contato com produtos alcalinos, tais como: argamassa, cimento, massa de reboco e resíduos 
                    aquosos destes materiais, além de produtos ácidos, como por exemplo ácido clorídrico (muriático).
                </p>
                <p>
                    2) Para conservação e limpeza das peças anodizadas, recomenda-se a utilização de um detergente neutro, 
                    aplicado com esponja macia, desaconselhando a utilização de ferramentas e outros meios mecânicos (facas, 
                    palhas de aço e outros), que venham a danificar permanentemente a camada anódica. 
                </p>
                <p>
                    3) A periodicidade de limpeza da esquadria de alumínio anodizada é a cada 18 meses, quando utilizada em 
                    ambiente urbano ou rural (baixa/média agressividade).
                </p>
                <a routerLink="/processos-producao" class="btn btn-outline-dark rounded-pill px-5 py-2 mt-2">
                    Processos
                </a>
            </div>
        </div>
    </div>
</div>