<div id="lme_main">
    <div class="container">
        <div class="img">
            <img src="assets/images/lme/main.jpg" alt="Imagem de LME">
        </div>

        <div class="row mt-5">
            <div class="col-lg-6">
                <h3>
                    Acompanhamento da LME e Dólar
                </h3>
            </div>

            <div class="col-lg-6">
                <p>
                    Acompanhe diariamente as cotações dos Metais na LME (London Metal Exchange) e do Dólar.
                    A LME é o centro mundial para o comércio de metais industriais. A maior parte dos negócios 
                    de metais não-ferrosos do mundo é negociada nas plataformas da LME, cujos preços são usados 
                    como referência global. Os investidores valorizam a LME como uma bolsa de futuros vibrante, 
                    mas também por suas estreitas ligações com a indústria.

                    fonte: <a href="#">www.lme.com</a>
                </p>
                <a href="#" class="btn btn-outline-dark px-3 rounded-pill mt-5">Conheça a Olga</a>
            </div>
        </div>

        <div class="row mt-5">
            <div class="d-flex justify-content-between">
                <h4>Indicadores de fevereiro de 2025</h4>
                <mat-form-field>
                    <mat-label>Selecione o mês</mat-label>
                    <mat-select [(value)]="selectedMonth" (selectionChange)="onMonthChange()">
                        @for (month of months; track month) {
                            <mat-option [value]="month">{{ month }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-tab-group (selectedIndexChange)="onTabChange($event)">
                @for (metal of metals; track metal) {
                    <mat-tab [label]="metal"></mat-tab>
                }
            </mat-tab-group>            
            <canvas baseChart 
                [datasets]="lineChartData.datasets" 
                [labels]="lineChartData.labels" 
                [options]="lineChartOptions" 
                [type]="'line'">
            </canvas>
        </div>
    </div>
</div>