<div id="lme_main">
    <div class="container">
        <div class="img">
            <img src="assets/images/lme/main.jpg" alt="Imagem de LME">
        </div>

        <div class="row mt-5">
            <div class="col-lg-6">
                <h3>
                    Acompanhamento da LME e Dólar
                </h3>
            </div>

            <div class="col-lg-6">
                <p>
                    Acompanhe diariamente as cotações dos Metais na LME (London Metal Exchange) e do Dólar.
                    A LME é o centro mundial para o comércio de metais industriais. A maior parte dos negócios 
                    de metais não-ferrosos do mundo é negociada nas plataformas da LME, cujos preços são usados 
                    como referência global. Os investidores valorizam a LME como uma bolsa de futuros vibrante, 
                    mas também por suas estreitas ligações com a indústria.

                    fonte: <a href="#">www.lme.com</a>
                </p>
                <a href="#" class="btn btn-outline-dark px-3 rounded-pill mt-5">Conheça a Olga</a>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-lg-10">
                <div class="d-flex justify-content-between">
                    <h4>Indicadores de {{ selectedMonth }}</h4>
                    <mat-form-field>
                        <mat-label>Selecione o mês</mat-label>
                        <mat-select [(value)]="selectedMonth" (selectionChange)="onMonthChange()">
                            @for (month of months; track month) {
                                <mat-option [value]="month">{{ month }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
    
                <!-- <div>
                    @for (day of selectedDays; track day) {
                        <p>{{ day.date }} - {{ day.price }}</p>
                    }
                </div> -->
    
                <mat-tab-group (selectedIndexChange)="onTabChange($event)" class="mt-3">
                    @for (metal of metals; track metal) {
                        <mat-tab [label]="metal"></mat-tab>
                    }
                </mat-tab-group>    

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-5">
                    <div class="col variation">
                        <div class="block">
                            <div>
                                <div>
                                    <h6>Variação Diária do Alumínio</h6>
                                </div>
        
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h6>Em 21/02/2025</h6>
                                        <h5>2702,00</h5>
                                    </div>
        
                                    <div>
                                        <h6>Em 20/02/2025</h6>
                                        <h5>2702,00</h5>
                                    </div>
                                </div>
                            </div>
        
                            <div>
                                <h4 [ngStyle]="{ color: 1 < 0 ? 'green' : 'red' }"><i class="bi bi-arrow-down"></i>-0,66%</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col mt-5 mt-md-0 variation">
                        <div class="block">
                            <div>
                                <div>
                                    <h6>Variação Semanal do Alumínio</h6>
                                </div>
        
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h6>Em 21/02/2025</h6>
                                        <h5>2702,00</h5>
                                    </div>
        
                                    <div>
                                        <h6>Em 20/02/2025</h6>
                                        <h5>2702,00</h5>
                                    </div>
                                </div>
                            </div>
        
                            <div>
                                <h4 [ngStyle]="{ color: 1 > 0 ? 'green' : 'red' }"><i class="bi bi-arrow-up"></i>1,88%</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col mt-5 mt-lg-0 variation">
                        <div class="block">
                            <div>
                                <div>
                                    <h6>Variação Mensal do Alumínio</h6>
                                </div>
        
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h6>Em 21/02/2025</h6>
                                        <h5>2702,00</h5>
                                    </div>
        
                                    <div>
                                        <h6>Em 20/02/2025</h6>
                                        <h5>2702,00</h5>
                                    </div>
                                </div>
                            </div>
        
                            <div>
                                <h4 [ngStyle]="{ color: 1 > 0 ? 'green' : 'red' }"><i class="bi bi-arrow-up"></i>2,95%</h4>
                            </div>
                        </div>
                    </div>  
                </div>
        
                <div class="row mt-5">
                    <canvas baseChart 
                        [datasets]="lineChartData.datasets" 
                        [labels]="lineChartData.labels" 
                        [options]="lineChartOptions" 
                        [type]="'line'">
                    </canvas>
        
                    <h4 class="mt-5">Valores Diários</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr class="table-secondary">
                                    <th>Data</th>
                                    <th>Preço</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (price of dailyPrices; track price) {
                                    <tr>
                                        <td>{{ price.date }}</td>
                                        <td>{{ price.price | currency: 'USD' }}</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <h4 class="mt-5">Média Semanal</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr class="table-danger">
                                    <th>Semana</th>
                                    <th>Média de Preço</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (week of weeklyAverages; track week) {
                                    <tr>
                                        <td>{{ week.week }}</td>
                                        <td>{{ week.avgPrice | currency:'USD' }}</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>