// Estilos CSS para customizar o autocomplete
.mat-mdc-autocomplete-panel {
    background-color: black !important;
    scrollbar-color: white black;
    scrollbar-width: thin;
}

.mat-mdc-option {
    color: white !important;
}

.mat-mdc-option:hover {
    background-color: #333 !important;
}

.mat-mdc-option.mat-mdc-option-active {
    background-color: #555 !important;
}

@font-face {
    font-family: 'Helvetica';
    src: url('assets/fonts/Helvetica-Roman.ttf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

@media (min-width: 1200px) {
    h1 {
        font-size: max(26px, min(90.11927193531648px, max(0.5px, 0.0664063 * (min((100 * 1cqw), 1600px) - 26px))))
    }

    h2 {
        font-size: max(26px, min(60px, max(0.5px, 0.0375 * (min((100 * 1cqw), 9999px) - 19px))))
    }

    h3 {
        font-size: max(12.942322877392678px, min(112px, max(0.5px, 0.03125 * (min((100 * 1cqw), 1600px) - 19px))));
    }

    h4 {
        font-size: max(18px, min(24px, max(0.5px, 0.015625 * (min((100 * 1cqw), 9999px) - 19px))));
    }

    h6 {
        font-size: max(12.942322877392678px, min(112px, max(0.5px, 0.0101112 * (min((100 * 1cqw), 1600px) - 19px))));
    }
}